<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>
<h1>User Details</h1>
<p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
<p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
<p><strong>Email:</strong> <span th:text="${user.email}"></span></p>

<h2>Instances</h2>
<ul>
    <li th:each="entry : ${user.instances.entrySet()}">
        <a th:href="@{'/user/' + ${user.id} + '/instances/' + ${entry.value} + '?hash=' + ${entry.key}}">
            <span th:text="'Hash: ' + ${entry.key} + ', Configuration ID: ' + ${entry.value}"></span>
        </a>
    </li>
</ul>


<a th:href="@{'/user/' + ${user.id} + '/instances/create'}">
    <button type="button">Create Instance</button>
</a>

<a href="/user">Back to User List</a>
</body>
</html>
